Host gitlab
    HostName gitlab.eecs.umich.edu
    User git
    IdentityFile ~/.ssh/id_rsa

Host github
    HostName github.com
    User git
    IdentityFile ~/.ssh/id_rsa

# CAEN
Host caen_offcampus
    HostName login-course-2fa.engin.umich.edu
    User chiahao
    Compression yes

Host caen_oncampus
    HostName oncampus-course.engin.umich.edu
    User chiahao
    Compression yes

Host caen_restricted
    HostName restricted-course.engin.umich.edu
    User chiahao
    Compression yes

Host linode
	HostName 172.105.230.176
	ServerAliveInterval 60
	ServerAliveCountMax 3
	User zjhxs
	IdentityFile ~/.ssh/id_rsa
